version: '3.8'

services:
  web:
    build: .
    container_name: product_importer_web
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      - DJANGO_SETTINGS_MODULE=config.settings.production
    depends_on:
      - redis
    volumes:
      - ./staticfiles:/app/staticfiles
    command: gunicorn config.wsgi:application --bind 0.0.0.0:8000 --workers 3 --timeout 120
    restart: unless-stopped

  celery:
    build: .
    container_name: product_importer_celery
    env_file:
      - .env
    environment:
      - DJANGO_SETTINGS_MODULE=config.settings.production
    depends_on:
      - redis
      - web
    volumes:
      - ./staticfiles:/app/staticfiles
    command: celery -A config.celery_app worker --loglevel=info --pool=solo
    restart: unless-stopped

  redis:
    image: redis:7-alpine
    container_name: product_importer_redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    restart: unless-stopped

volumes:
  redis_data:

